.team-single{
    padding: 50px 0;
    
    .team-single-header{
        margin-bottom: 3.6rem;
        .team-single-name{
            margin-bottom: 1.5rem;
        }
        .team-single-position{
            color: $primary;
            font-size: 1.8rem;
            line-height: 2.7rem;
            font-weight: $font-weight-medium;
        }
    }
    .team-single-content{
        .team-single-bio{
            margin-bottom: 2rem;
        }
    }
}

@media(min-width:992px){
    .team-single{
        padding: 100px 0 170px;
    }
}